#logo {
  width: 50%;
}

#connexionPanel{
  border : solid 5px #cd3a92;
  background-color: #4c1636;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

small{
  color:rgb(228, 8, 45);
}

@media screen and (max-width: 770px){
  #connexionPanel{
    width: 75%;
  }
}
