#logo {
  width: 50%;
}

#connexionPanel{
  border : solid 5px var(--border-color);
  background-color: var(--secondary-bg-color);
  width: 30%;
}

small{
  color:var(--error-color);
}

@media screen and (max-width: 770px){
  #connexionPanel{
    width: 75%;
  }
}
