/* You can add global styles to this file, and also import other style files */

/* Variables */
*{
  --main-bg-color: rgb(27, 21, 27);
  --secondary-bg-color: #4c1636;
  --border-color: #cd3a92;
  --error-color: rgb(228, 8, 45);
}


body{
  background-color: var(--main-bg-color);
  color: white;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
